.pageName h2 {
    margin-left: 5%;
    color: var(--label-h2-color);
    font-size: 24px;

}





.photoAndLabel {
    display: flex;
    align-items: center;

    font-weight: 700;


}

.siteHat {

    display: flex;
    justify-content: space-between;
    
    

}

.circle {
    display: flex;
    width: 41px;
    height: 41px;
    background-color: var(--main-element-color);
    border-radius: 50%;
    justify-content: center;
    align-items: center;

}

.circle text {
    font-size: 26px;
    color: var(--label-text-color);
}



.navUl {

    display: flex;
    flex-direction: row;
    align-items: center;
}

nav {
    display: flex;
}

nav li {
    height: 1px;
    padding-right: 40px;
}

nav li a {
    font-weight: 400;
    font-size: 18px;
    color: var(--text-grey-color);
}

.chosen a {
    color: var(--active-button_color);
    font-weight: bold;
}