:root {
  position: relative;
  line-height: 1.5;
  font-weight: 300;
  
  --main-element-color : #458FF6;
  --label-text-color: #FFFFFF;
  --label-h2-color: #233348;
  --text-grey-color: #7D7987;
  --active-button_color:  #1F1534;
  --text-black-color: #000000;
  --background-color: #ffffff;
  --gradient-light-color: #67C3F3;
  --gradient-dark-color: #5A98F2;
    background-color: var(--background-color);
  

}



body  {
  width: 100%;
}
button {
  margin-top: 4.5%;
  border-radius: 50px;
  border: 1.4px solid var(--main-element-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 200px;
  height: 50px;
  font-size: 18px;
  
}
button:hover {
  border-color: var(--active-button_color);

}
button:hover div{
  color: var(--active-button_color);

}
button div  {
  color: var(--main-element-color)
}
a:hover { 
  cursor: pointer;
  color: var(--active-button_color);
}
a:active  { 
 
  color: var(--active-button_color); 
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: Mulish;
  src: local('Mulish'),
    url('./assets/fonts/Mulish-VariableFont_wght.ttf') format('truetype');
}