:root {
  
  line-height: 1.5;
  font-weight: 400;
  
  --main-element-color : #458FF6;
  --label-text-color: #FFFFFF;
  --label-h2-color: #233348;
  --text-grey-color: #7D7987;
  --active-button_color:  #1F1534;
  --text-black-color: #000000;
  color: rgba(255, 255, 255, 0.87);
  background-color: #eedbdb;
  

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body  {
  
  width: 100%;
 
  
}
button {
  margin-top: 4.5%;
  border-radius: 50px;
  border: 1.4px solid var(--main-element-color);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 200px;
  height: 50px;
  font-size: 18px;
  
}
button:hover {
  border-color: var(--active-button_color);

}
button:hover div{
  color: var(--active-button_color);

}
button div  {
  color: var(--main-element-color)
}




h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: Mulish;
  src: local('Mulish'),
    url('./assets/fonts/Mulish-VariableFont_wght.ttf') format('truetype');
}